@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body,
html {
  margin: 0;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.706);
  width: 100%;
  padding: 15px 0;
  transition: 0.4s all;
  z-index: 1302;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex !important;
}

.header-menu-mobile {
  display: none !important;
}

.content {
  padding: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: #ffffffb4;
}

.header + .content {
  padding-top: 75px;
}

.text-primary {
  color: #52cec2;
}

section.mt1 {
  margin-top: 280px;
}

section.mt2 {
  margin-top: 120px;
}

section.mt3 {
  margin-top: 100px;
}

section.mt4 {
  margin-top: 60px;
}

.home_banner {
  position: absolute;
  right: 0;
  background: url("./asset/images/Ellipse1.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 953px;
  width: 70%;
  z-index: -1;
}

.home_img_main {
  background: url("./asset/images/main.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 643px;
  width: 100%;
  transform: translateX(13%);
}

.banner_right {
  background: url("./asset/images/imageSection2.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 643px;
  width: 100%;
  transform: translateX(13%);
}

.banner_left {
  background: url("./asset/images/main3.png");
  height: 650px;
  width: 100%;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  /* transform: translateX(-12%); */
}

.banner_left::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("./asset/images/ListBarang.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  width: 426.83px;
  height: 125px;
  transform: translate(0%, -85%);
}

.banner_left::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  background: #333348;
  width: 636px;
  height: 208px;
  transform: translate(-10%, -50%);
  z-index: -1;
}

.benefit_img1 {
  background: url("./asset/images/main3.png");
  height: 650px;
  width: 100%;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.benefit_img1::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("./asset/images/ListBarang.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  width: 426.83px;
  height: 125px;
  transform: translate(0%, -85%);
}

.benefit_img1::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  background: #333348;
  width: 480px;
  height: 362px;
  border-radius: 20px;
  transform: translate(0%, -40%);
  z-index: -1;
}

.benefit_img2 {
  background: url("./asset/images/main3.png");
  height: 650px;
  width: 100%;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.benefit_img2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("./asset/images/ListBarang.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  width: 426.83px;
  height: 125px;
  transform: translate(0%, -85%);
}

.benefit_img2::before {
  content: "";
  position: absolute;
  top: 55%;
  right: 0;
  background: #333348;
  width: 480px;
  height: 362px;
  border-radius: 20px;
  transform: translate(0%, -40%);
  z-index: -1;
}

.benefit_img3 {
  background: url("./asset/images/main4.png");
  width: 440px;
  height: 497px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.benefit_img3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #333348;
  width: 445px;
  height: 362px;
  border-radius: 20px;
  transform: translate(0%, -27%);
  z-index: -1;
}

.benefit_img4 {
  background: url("./asset/images/main7.png");
  width: 440px;
  height: 497px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.benefit_img4::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #333348;
  width: 445px;
  height: 362px;
  border-radius: 20px;
  transform: translate(0%, -17%);
  z-index: -1;
}

.benefit_img4::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  background: #333348;
  width: 445px;
  height: 362px;
  border-radius: 20px;
  transform: translate(0%, -17%);
  z-index: -1;
}

.card-fitur::before {
  content: "";
  background: url("./asset/images/main2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 410px;
  width: 585px;
  position: absolute;
  right: 0;
  transform: translate(-3%, -34%);
}

.home_benefit {
  position: absolute;
  right: 0;
  background: url("./asset/images/Ellipse2.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  z-index: -1;
}

.home_img_benefit {
  background: url("./asset/images/ImageSection1.png");
  height: 650px;
  width: 100%;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  transform: translateX(-12%);
}

.home_advantage {
  background: url("./asset/images/Ellipse3.png");
  position: absolute;
  right: 0;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 953px;
  width: 70%;
  z-index: -1;
}

.home_img_advantage {
  background: url("./asset/images/main2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 437px;
  width: auto;
  transform: translateY(22%);
}

.benefit_img_main {
  background: url("./asset/images/main4.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  padding: 100px;
  margin-top: 80px;
}

.slider_benefit_border {
  width: 280px;
}

.slider_benefit_img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 266px;
  height: 249px;
}

ul.slick-dots div {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  background: #d4d2dd;
  border-radius: 50%;
}

ul.slick-dots .slick-active div {
  background: #45b6ab !important;
}

ul.list-none-style {
  text-decoration: none;
  list-style: none;
}

ul.list-none-style li {
  padding: 12px 0px;
}

/* section {
  padding: 20px 0px;
} */

#picture1 {
  background: url("./asset/images/ListBarang.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  width: 426.83px;
  height: 125px;
}
#picture2 {
  background: url("./asset/icon/icon5.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  width: 125px;
  height: 125px;
}
.MuiAccordionSummary-root.Mui-expanded {
  color: #45b6ab;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* .card-device::after {
  content: '';
  position: absolute;
  right: 0;
  background: url('./asset/icon/icon5.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 125px;
  transform: translateY(-25%);
} */

@media (max-width: 992px) {
  section.mt1 {
    margin-top: 120px;
  }

  section.mt2 {
    margin-top: 100px;
  }

  section.mt3 {
    margin-top: 80px;
  }

  .home_banner {
    width: 100%;
    background-size: contain;
    transform: rotate(180deg);
  }

  .home_img_main {
    height: 350px;
    width: 100%;
  }

  .home_benefit {
    height: 500px;
  }

  .home_img_benefit {
    height: 290px;
  }

  .home_advantage {
    height: 400px;
    width: 100%;
  }

  .home_img_advantage {
    height: 237px;
    /* transform: translateY(57%); */
  }

  .slider_benefit_border {
    width: 230px;
  }

  .slider_benefit_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 216px;
    height: 199px;
  }

  ul.slick-dots div {
    width: 9px;
    height: 9px;
  }

  .header-menu {
    display: none !important;
  }
  .header-menu-mobile {
    display: inline-flex !important;
  }

  .benefit_img_main {
    margin-top: 0px;
  }

  .benefit_img1 {
    height: 300px;
    width: 100%;
  }

  .benefit_img1::after {
    width: 235px;
    height: 100px;
    transform: translate(3%, -18%);
  }

  .benefit_img1::before {
    width: 320px;
    height: 236px;
    transform: translate(6%, -40%);
  }

  .benefit_img2 {
    height: 300px;
    width: 100%;
  }

  .benefit_img2::after {
    width: 235px;
    height: 100px;
    transform: translate(3%, -18%);
  }

  .benefit_img2::before {
    width: 320px;
    height: 236px;
    border-radius: 20px;
    transform: translate(6%, -40%);
  }

  .benefit_img3 {
    height: 300px;
    width: 100%;
  }

  .benefit_img3::before {
    width: 250px;
    height: 242px;
    transform: translate(8%, -25%);
  }

  .benefit_img4 {
    height: 300px;
    width: 100%;
  }

  .benefit_img4::before {
    width: 250px;
    height: 242px;
    transform: translate(8%, -25%);
  }
}

@media screen and (max-width: 992px) {
}
